<html>
    <head>
        <title>To-do List | by Pranav Dhingra </title>
        <!--jquery cdn-->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
        crossorigin="anonymous"></script>
        <!--stylesheet-->
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="What do you need to do?" required />
                <button type="submit">Just do it!</button>
            </form>
            
            <ul>
                <% for(var i=0; i<todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% }; %>
            </ul>

    </body>
</html>